@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  background: url('./img/bg.jpeg') no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

*:focus{
  outline: none;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 104, 244, 0.753);
  z-index: -1;
}